###> symfony/framework-bundle ###
/backend/.env.local
/backend/.env
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/backend/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

# ===== REACT =====
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.env.local
/frontend/.env
/frontend/.env.*.local
/frontend/.env.production

# ===== IDE =====
.idea/
.vscode/
*.swp
.DS_Store

dist/ 

# Ignorer fichiers de sortie de tests frontend
/frontend/register_fail.txt
/frontend/register_test_output.txt
/frontend/test_output.txt
/frontend/test_output2.txt

frontend/*.txt
